//Nesting syntax

//Parent syntax

//Mixin

//Custom font

//Colors (use variables)

//Fonts (use variables)

//RGBA color

//Opacity

//Transform

//Transition

//Text-shadow

//Box-shadow

//Background image

body {
    background-color: ivory;
  }

  h3,
  .list-group-item {
    color: black
  }

  a:hover {
    color: violet;
  }